@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap');
:root{
    --bg:#181719;
    --font-color:#FFFFFF;
    --position-color:#828282;
    --name-fz:12px;
    --post-fz:18px;
    --header-fz:36px;
    --content-fz:14px;
    --content-lh:17px;
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--bg);
    color: var(--font-color);
    height: 100vh;
}
section{
    height: 90vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 19px 12px;
}
.nav-menu{
    display: none;
    position: absolute;
    z-index: 20;
    background: var(--bg);
    height: 100vh;
    width: 100vw;
    top: 10px;
    left: 0px;
    place-items: center;
}
.nav-menu ul{
    margin: auto;
    list-style: none;
}
.nav-menu ul li{
    font-family:'Montserrat';
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin: 16px 0;
}
.nav-menu ul li a{
    color: #fff;
    text-decoration: none;
}
.active{
    font-weight: 700;
    padding: 8px 0;
    border-bottom: 2px solid #fff;
}
nav .logo{
    font-family: 'Crimson Pro';
    font-weight: 200;
    font-size: 14px;
    padding: 8px;
    border: 1px solid #fff;
}
.burger-menu{
    width: 28.5px;
    cursor: pointer;
    position: relative;
    z-index: 100;
}
.burger-menu span {
    display: block;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
    border-radius: 3px;
    height: 3px;
    background: #fff;
    transition: all .3s;
    position: relative;
  }
  span + span {
    margin-top: 4px;
  }
  .active-2 span:nth-child(1) {
    transform: rotate(45deg);
    left:-5px;
    top:5px;
  }
  
  .active-2 span:nth-child(2) {
    transform: scale(0) ;
  }
  
  .active-2 span:nth-child(3) {
    transform: rotate(-45deg);
    left:-5px;
    top:-9px;
  }
  
.content h2{
    font-family:'Lora';
    font-size: var(--header-fz);
    font-weight: 500;
    margin: 19px 12px;
}
.content p{
    font-family:'Montserrat';
    font-size: var(--post-fz);
    font-weight: 400;
    margin: 0 12px;
    line-height: var(--content-lh);
    width: 67%;
}
.content h4{
    font-family:'Montserrat';
    font-size: 14px;
    font-weight: 700;
    margin: 25px 12px;
}
.content h4::after{
    content:'➝';
    margin:0 15px;
}
.container{
    margin: 0 12px;
    height: auto;
    position: relative;
}
.container img{
    max-width: 100%;
    height: auto;
}
.info{
    background: var(--bg);
    min-width: 48.86%;
    height: 138px;
    padding: 8px 19px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    right:4%;
    bottom: -80px;
}
.info .user{
    width: 100px;
    height: 50px;
    display: flex;
}
.info .user img{
    max-width: 100%;
    border-radius: 100%;
    margin: 5px;
}
.user-info{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 10px;
}
.info .user .user-info h2{
    font-family:'Montserrat';
    font-size: var(--name-fz);
    font-weight: 500;
    width: 140px;
}
.info .user .user-info span{
    font-family:'Montserrat';
    font-size: 0.858em;
    font-weight: 500;
    color:var(--position-color);
}
.info .post h2{
    font-family:'Lora';
    font-size: var(--post-fz);
    font-weight: 700;
    width: 210px;
    margin: 8px 0;
}
footer{
    font-family:'Montserrat';
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    height: 41px;
}
.nav-menu-screen{
    display: none;
}
@media only screen and (min-width: 821px) {
    :root{
        --name-fz:14px;
        --post-fz:24px;
        --header-fz:48px;
        --content-fz:24px;
        --content-lh:29.26px;
    }
    .burger-menu{
        display: none;
    }
    nav{
        margin: 2% 3.5em;
        position: relative;
    }
    .nav-menu{
        display: flex;
        width: 50%;
        position: unset;
        place-items: center;
        justify-content: end;
        align-items: center;
    }
    .nav-menu ul{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-menu ul li{
        margin: 0 43px;
        font-family:'Montserrat';
        font-size: 18px;
        font-weight: 500;
        text-align: center;
    }
    .nav-menu ul li a{
    color: #fff;
    text-decoration: none;
    }
    .info .user .user-info h2{
        font-size: 0.8vw;
    }
    section{
        display: grid;
        grid-template-columns: 35% 65%;
        place-items: center;
        margin: 10em 3.5em;
    }
}